.films_main{
  display: flex;
  flex-direction: row;
  justify-content: center;
  .films_left{
    width: 60%;
    margin-top: 20px;
    .films_head{
      .films_card{
        display: flex;
        margin-right: 10px;
        .films_detail{
          margin-left: 25px;
          word-spacing: 10px;
        }
      }  
    }
    .films_body{
      display: flex;
      align-items: center;
      flex-direction: column;
      padding: 5% 5%;
      .title {
            
            font-size: 18px;
            text-transform: uppercase;
            font-weight: bold;
            &::after {
              content: "";
              width: 60px;
              color: #f26b38;
              height: 1px;
              display: block;
              border: 1px solid;
            }
          }
          .showtime{
            margin: 3% 0px  ;
            .CardCinema {
              .CinemaAll {
                background-color: #f26b38;
                font-size: 18px;
                color: #fff;
                font-weight: bold;
                width: 340px;
                height: 40px;
                display: flex;
                align-items: center;
                padding-left: 20px;
                position: relative;
                &::after {
                  content: "";
                  border: 4px solid #47251c;
                  display: block;
                  height: 100%;
                  position: absolute;
                  left: 0;
                }
              }
              .Date {
                border: 1px solid #a0a3a7;
                .CardVersion {
                  display: flex;
                  padding: 30px;
                  .version {
                    width: 20%;
                  }
                  .cardshowTime {
                    width: 80%;
                    display: flex;
                    flex-wrap: wrap;
                    gap: 9px;
                    .showTime {
                      .BodershowTime {
                        p {
                          font-size: 16px;
                          border: 1px solid #ced0da;
                          color: #43464b;
                          padding: 2px 6px;
                          display: flex;
                          align-items: center;
                          justify-content: center;
                          margin: 0;
                          font-weight: bold;
                          &:hover {
                            border: 1px solid #f26b38;
                            color: #f26b38;
                            cursor: pointer;
                          }
                        }
                      }
                    }
                  }
                }
              }
            }
          }
    }
  }

}