.Container{
    margin: 1% 10%;
    display: flex;

    .BTable{
        background-color: orangered;
        padding: 1%;
        width: 70%;
        color: white;
        .HeadT{
          background-color: rgb(80, 25, 25);
          color: white;
        }
        .Ticket{
            background-color: white;
            padding: 20px;
            width: 99%;
            color: black;
          .N_D{
            padding-bottom: 10px;
            p{
                margin: 0px;
                padding: 0px 5px 0px 5px;
            }
            .Name{
                font-size: 15px;
                font-weight: bolder;
            }
            .Dct{
                font-size: 12px;
            }
          }
          .NSet{
            text-align: center;
            
            input{
                width: 60px;
                padding: 0px;
                margin: 0px 10px;
                text-align: center;
            }
            button{
                width: 30px;
                height: 30px;
                border-radius: 100%;
                                
            }
          }
          .STotal{
            text-align:center;
          }
          .ATotal{
            td{
                font-weight: bolder;
                color: orange;
                width: 40%;
              padding: 5px;
            }
          }

        }
        .ComboTicket{
            background-color: white;
            padding: 20px;
            width: 99%;
            color: black;
              }
            .CN_D{
                display: flex;
                img{
                    margin: 5px;
                }
                p{
                    margin: 5px;
                    padding: 5px 5px 0px 5px;
                }
                .Name{
                    font-size: 13px;
                    font-weight: bolder;
                }
                .Dct{
                    font-size: 11px;
                }
            }
            .NSet{
                text-align: center;
                input{
                    width: 60px;
                    padding: 0px;
                    margin: 0px 10px;
                    text-align: center;
                }
                button{
                  width: 30px;
                  height: 30px;
                  border-radius: 100%;
                }
                
              }
              .CTotal{
                text-align: center;
              }
              .ATotal{
                text-align: center;
                td{
                    font-weight: bolder;
                    color: orange;
                    width: 40%;
                    padding: 5px;
                }
              }
        }
        
        .TotalBil{
         background-color: whitesmoke;
          height:30%;
          position: fixed;
          margin-left: 60%;
          padding: 5px;
          
          vertical-align: baseline;
          width: 20%;
          .TLine{
            display: flex;
             h5{
            color: orange;
            text-align:center;
          }
          }
         .BT{
          width: 100%;
          background-color: orangered;
          color: white;
          border: none;
         }
        }
      }  