@import "~bootstrap/scss/bootstrap";

.Container {
    margin: 2% 10% ;
    width: 80%;
    .carousel-control-prev-icon,
    .carousel-control-next-icon {
        width:5rem;
        height: 5rem;
    }
}