.body{
    .body-left{
        .title{
            margin-top: 5px;
            padding: 5px;
            box-sizing: border-box;
            border-bottom: 1px solid lightgrey;
            text-align: center;
        }
        .AllCinema{
            display: flex;
            flex-wrap: wrap;
            align-items: center;
            justify-content: center;
            float: 1;
            .CineBox{
                width: 33%;
                padding: 10px 10px;
                img{
                    width: 100%;
                    border-radius: 20px;
                    height: 300px;
                    transition: 1s ease-in-out;
                    cursor: pointer;
                    
                }
                img:hover{
                    transform: scale(1.05);
                    
                }
                h4{
                    text-align: center;
                    margin-top: 10px;
                }

            }
        }
    }
}