
.Main {
    width: 80%;
    margin: 0% 10%;
    h3:hover{
        color: orangered;
    }
    .navi{
        border-bottom: 1px solid lightgray;


    }
    span{
        display: inline-block;
        color: black;
        text-decoration: none;
        margin-left: 20px;
        margin: 10px;
    }

}