
.Container {
    margin: 1% 10%;
    font-size: 12px;
    display: flex   ;
    width: 70%;
    .TSit{
        width: 70%;
        background-color: orangered;
        padding: 5px;
        .Sit-Area{
            background-color: white;
        }
    }
    .listSeat{
        display: flex;
        width: 100%;
        justify-content: space-between;
        .listSeat{
            width: 100%;
            justify-content: space-between;
        }
        .physicalName{
            display: flex;
            font-size: 15px;
            width: 20px;
            height: 20px;
            padding: 0px 2px 5px 2px;
            border: 1px solid black;
        }
        .body-seats{
            display: flex;
            justify-content: space-between;
            text-decoration: none;
            .seats{
                width: 20px;
                height: 20px;
                text-align: center;
                margin: 3px;
                background-color: gray;
            }
        }
    }
    .Screen-area{
        width: 100%;
        text-align: center;
        height: 20px;
        margin:0px 30px;
        p{
            margin: 0px;
        }
        .Screen{
            border: 1px solid gray;
            height: 5px;
            width: 60%;
            margin: 0% 17%;
            background-color: black;
        }
    }
    .styleSeat{
        font-size: 16px;
        margin-top: 20px;
        justify-content: space-evenly;
        display: flex;
        h5{
            width: 20%;
            text-align: right   ;
            span{
                padding: 0px 10px;
            }
        }
    }
    }
    .TotalBil {
        background-color: whitesmoke;
        height: 30%;
        position: fixed;
        margin-left: 60%;
        padding: 5px;

        vertical-align: baseline;
        width: 20%;

        .TLine {
            display: flex;

            h5 {
                color: orange;
                text-align: center;
            }
        }

        .BT {
            width: 100%;
            background-color: orangered;
            color: white;
            border: none;
        }
    }
