
.BoxB {
    width: 100%;
    font-family: Arial, Helvetica, sans-serif;
    .HBScreen {
        width: 100%;
        height: 40%;
       
    }

    .TableLs {
        

        .FilmMenu {
            display: flex;
            flex-wrap: wrap;
            align-items: center;
            justify-content: center;
            width: auto !important;
            float: 1;
            .AImage {
                width: 25%;
                padding: 10px 10px;
                img{
                    width: 100%;
                    transition: 1s ease-in-out;
                    cursor: pointer;
                    height: 300px;
                }
                .title{
                   text-align: center;
                   margin-top: 10xp;
                   font-size: 15px;
                   font-weight: bold;

                }
            }
        }
    }
}