*{
    padding: 0px;
    margin: 0px;
}
.header{
    display: flex;
    flex-direction: column;
    .top-head{

        display: flex;
        justify-content: center;
        align-items: center;
        background-color: #f7f9fa;
        .head-logo{
            padding-left: 210px;
            box-sizing: border-box;
            width: 33.33%;
            min-width: 80px;
            img{
                width: 400px;
            }
        }
        .head-bar{
            display: flex;
            justify-content: space-around;
            flex-direction: row;
            width: 66.67%;
            padding: 20px;
            .search-box{
                input {
                    
                    background: none;
                    border-color: #000;
                    border-radius: 15px;
                    border-width: 0 0 1px;
                    transition: all .8s ease-in-out;
                    width: 30px;
                    &:focus {
                      background: radial-gradient(ellipse at top left, transparent 65%, hotpink 140%);
                      border-radius: 0 15px 15px 0;
                      width: 250px;
                      ~ button { 
                        &.searchBtn {
                            border: 0px;
                            color: #fff;
                            left: 222px;
                        }
                    }
                }
            }    
        }
        .navi-box{
            a{
                color: #000;
                text-decoration: none;
            }
        }
        }    
    }
    .bot-head{
        height: 50px;
        background-color: #000000;
        font-size: 20px;
        align-items: center;
        padding: 10px;
        nav {
            display:table;
            table-layout: fixed;
            width: 100%;
            ul{
                display: table-row;
                li{
                    display: table-cell;
                    text-align: center;
                    a{
                        text-decoration: none;
                        color: white;
                       
                    }
                }
            }
        }
    }
}

