.Footer {
    margin: 0px;
    padding: 20px;
    background-color: rgb(0, 0, 0);
    color: rgb(163, 156, 156);

    .LInfo {
        display: flex;
        .F_D {
            margin: 0px 100px;
            h4 {
                padding-left: 3px;
                border-left: 5px solid orangered;
            }
            ul{
                padding-left: 15px;

                li:hover,a:hover{
                    color: orangered;
                    text-decoration:none ;
                }
            }
        }
    }
}   