.MainBoard {
    display: flex;
    width: 100%;
    margin-top: 5%;
    text-overflow: ellipsis;
    .title {
        width: 50%;
        height: 100vh;
        overflow: hidden;}

        h3:hover {
            color: orangered;
        }
        .Board {
            width: 100%;
            height: 100vh;
            text-decoration: none;
        }
            .Blog{
                width: 100%;
                height: 150px;
                display: table;
                margin: 25px 0px;
                overflow: hidden;
                
                .imgBlog{
                    display: block;
                    float: left;
                    width: 220px;
                    height: 150px;
                    background-size: cover;
                    margin-right: 5px;
                }
                .Eblog{
                    height: 150px;
                    text-decoration: none;
                    color: black;
                    
                    .inSide{
                        width: 100%;
                        height: 150px;
                        padding-right: 10px;
                        text-overflow: ellipsis;
                        .viewrData{
                            display: flex;

                            .Viewer{
                                padding: 3px;
                                margin-right: 20px;
                                height: 30px;
                                background-color: rgb(201, 197, 197);
                                border-radius: 5px;
                            }
                            .point{
                                display: flex;
                                height: 20px;
                                background-color: white;
                                margin: 0px;
                                p{
                                font-weight: bolder;
                                color: orange;
                                }
                            }
                        }
                        .caption{
                           box-sizing: border-box;
                           height: 50px;
                           overflow: hidden;
                           p{
                            text-overflow: ellipsis;
                            font-size: 15px;
                           }
                        }
                    }
                }
            }
            
        
    

}