
.tickets {
    padding: 1% 10%;
    margin-top: 1%;
    border: none;
    .ticket_nav {
        ul,  li {
            li {
                border-bottom: none;
                height: 45px;
        }
            
            li:hover {
                border-bottom: 3px solid orangered;

            }

                text-decoration: none;
                font-size: 18px;
            border-bottom: 1px solid rgb(190, 187, 187);
            display: flex;
            padding: 0px;

            .movie {
                margin-right: 50px;
            }

        }
    }

    .ticket_body {
        margin-top: 3%;
        display: flex;
        justify-content: space-between;
        h6 {
            background-color: rgb(250, 126, 81);
            color: white;
            padding: 10px 150px;
        }
        .ChonPhim{
            ul,li{
                li:hover{
                    background-color: rgb(224, 221, 221);
                }
                a{
                    img{
                        margin-right: 5px;
                    }
                    .Title{
                        width: 200px;
                    }
                    display: flex;
                    width: 400px;;
                    border: 1px solid rgb(169, 168, 168);
                    padding: 10px;
                    .DoTre{
                        margin-left: 10px;
                        padding: 0px 5px    ;
                        background-color: orangered;
                        color: white;
                        box-sizing: border-box;
                        height: 25px;

                    }
                }
                padding: 0px;
            }
        }
        .ChonRap{
            ul,li{
                font-weight: bold;
                li:hover{
                    background-color: rgb(224, 221, 221);
                    
                }
                a{
                    .CineName{
                        width: 300px;
                    }
                    display: flex;
                    width: 400px;;
                    border: 1px solid rgb(169, 168, 168);
                    padding: 25px;
              
                }
                padding: 0px;
            }
        }
        .ChonSuot{
             ul,li{
                font-weight: bold;
                li:hover{
                    background-color: rgb(224, 221, 221);
                    
                }
                a{
                    .CineName{
                        width: 300px;
                    }
                    display: flex;
                    width: 400px;;
                    border: 1px solid rgb(169, 168, 168);
                    padding: 25px;
              
                }
                padding: 0px;
            }
        }
        
    }
}
.tickets{
    .ticket_body{
        margin: 0px;
    }
    padding: 0px ;
    margin: 0px;
    border: 1px solid black;
    h4{
        text-align: center;
        background-color: orangered;
        color: white;
    }
    .cinema{
        ul{
            padding: 0px;
           li{
            border: 1px solid black;
            display: flex;
            padding: 5px;
           }
        }

    }
    ul{
        margin-right: 5 0px;
        padding: 0px;
       li{
        border: 1px solid black;
        display: flex;
        padding: 5px;
       }
    }
    .movies{
        width: 40%;
    }
    .showtime{
        width: 33%;
    }
}
