*{
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
    
}
.main{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background: #9053c7;
    
    .form{
        width: 960px;
        background: #fff;
        border-radius: 10px;
        overflow: hidden;
        display: flex;
        flex-wrap: wrap;
        justify-content: space-evenly;
        padding: 50px 50px;

        .logo{
            width: 316px;
            display: flex;
            align-items: center;

            img{
                width: 100%;
                
            }
        }
        .mainForm{
            width: 290px;  

            .title{
                font-size: 24px;
                color: #333;
                line-height: 1.2;
                text-align: center;
                width: 100%;
                padding-bottom: 54px;
                display: block;

            }
            .inputForm{
                position: relative;
                width: 100%;
                z-index: 1;
                margin-bottom: 10px;

                .input1 {
                    font-size: 13px;
                    line-height: 1.5;
                    color: #666;
                    display: block;
                    width: 100%;
                    background: #e6e6e6;
                    height: 50px;
                    border-radius: 25px;
                    padding: 0 30px 0 68px;

                    input{
                        outline: none;
                        border: none;
                    }
                }
                .icon-input{
                    display: flex;
                    align-items: center;
                    position: absolute;
                    border-radius: 25px;
                    bottom: 0;
                    left: 0;
                    width: 100%;
                    height: 100%;
                    padding-left: 35px;
                    color: #666;
                    transition: all .4s;
                }
            }
            .container-btn{
                .loginBtn{
                    border: 0px;
                    font-size: 15px;
                    line-height: 1.5;
                    color: #fff;
                    text-transform: uppercase;
                    width: 100%;
                    height: 50px;
                    border-radius: 25px;
                    background: #57b846;
                    padding: 0 25px;
                }

            }
            .text-center{
             text-align: center;   
             margin-top: 15px;

             a{
                 text-decoration: none;
             }
            }
        }
    }
}



